*
{
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

html, body
{
  height: 100%;
}

#visual
{
  background-color: #E7EAE1;
  border-radius: 50%;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  width: 20em;
  height: 20em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main > img {
  width: 30em;
}

main > section > img, main > section{
  position: absolute;
}

#segundos
{
  width: 0.5vw;
  height: 30vh;
  background-color: #72B7BC;
}

#ponteiroMinutos
{
  transform: rotate(25deg);
}

#ponteiroHoras
{
  transform: rotate(50deg);
  
}

#ponteiroSegundos
{
  transform: rotate(75deg);
}
